body {
    height: 100vh;
}

.head {
    header {
        display: flex;
        justify-content: center;
        background-color;
        color: black;

        img {
            width: 70px;
            height: 100px;
        }

        h1 {
            font-size: 60px;
            font-family: "Protest Guerrilla", sans-serif;
            font-style: normal;
            text-transform: capitalize;
        }

        sup {
            font-size: 30px;
            color: gray;
        }
    }
}

.left {

    width: 200px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 90px;
    margin-right: 10px;

    img {
        width: 90px;
        height: 150px;
    }

    h1 {
        background-color: whitesmoke;
        color: black;
        border: 2px solid;
        border-radius: 30px;
        background-image: url(186-1862336_cheer-happy-thumb-up-emoji-innocent-emoji.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity:

    }

    button {
        text-transform: capitalize;
        padding: 10px;
        width: 130px;
        height: 55px;
        border-radius: 10px;
        font-family: "Coiny", system-ui;
        font-weight: 900;
        font-style: normal;
        font-size: medium;
        background: linear-gradient(90deg, rgba(0, 29, 36, 1) 0%, rgba(9, 109, 121, 1) 35%, rgba(0, 255, 215, 1) 100%);
        /* transition-property: width;
        transition-duration: 1s;
        transition-timing-function: ease; */
    }

    p {
        border: 2px solid;
        border-radius: 30px 5px 100px 5px;
        background: linear-gradient(90deg, rgba(9, 109, 121, 1) 40%, rgba(0, 255, 215, 1) 100%);

    }

    h5 {
        background-color: whitesmoke;
        color: black;
        border: 2px solid;
        border-radius: 30px 5px 5px 100px;
        padding: 5px;

        background-image: linear-gradient(yellow, red);
    }

    h3 {

        font-family: "Protest Guerrilla", sans-serif;
        font-style: normal;
        text-transform: capitalize;
    }

    button:hover {
        background: linear-gradient(90deg, rgba(142, 6, 7, 1) 0%, rgba(253, 237, 29, 1) 0%, rgba(142, 6, 7, 1) 100%);
        box-shadow: 5px 10px 18px rgb(194, 4, 4);
        /* width: 160px;
        height: 70px; */
    }


}

.right {
    h2 {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-transform: capitalize
    }

    text-align: center;
    color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 2px;

    td,
    input,
    option,
    select,
    button {
        text-transform: capitalize;
        padding: 8.5px;
    }

    input,
    select,
    button {
        border: 2px solid black;
        /* outline:none; */
    }

    label {
        border: 5px solid black;
        border-style: outset;
        padding: 5px;
        /* outline-style: solid;
outline-width: 4px;
outline-color: chartreuse; */
    }

    border: 10px solid black;
    border-radius: 100px 40px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    border-bottom-style: hidden;
    background-image: url(Web-development-concept-with-person-using-a-laptop-computer.jpeg);
}

.right button {
    position: relative;
    left: 70px;
    width: 95px;
    background: linear-gradient(90deg, rgba(0, 255, 215, 1)0%, rgba(9, 109, 121, 1) 35%, rgba(0, 29, 36, 1)100%);

    a {
        font-family: "Spicy Rice", serif;
        font-weight: 300;
        font-style: normal;
        font-size: large;
        color: black;
    }

    border-radius: 0 50px;
    box-shadow: 5px 5px 5px black;

}

button:hover {
    background: linear-gradient(90deg, rgba(246, 239, 7, 1) 14%, rgba(237, 4, 20, 1) 51%);
    box-shadow: 5px 5px 20px rgba(246, 239, 7, 1);
}

.total {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;

}

body {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 14%, rgba(75, 240, 210, 1) 50%, rgba(9, 9, 121, 1) 100%);

}